### DataFrame데이터조작

In [8]:
import pandas as pd
import numpy as np

In [12]:
#설정변경코드
#변수 명이 두번 이상 출력되어도 모두 콘솔에서 보여줄 것
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

# InteractiveShell.ast_node_interactivity : 'all' | 'last' | 'last_expr' | 'none' (기본값은 'last_expr')

In [6]:
# 데이터 0-4범위의 난수 발생, 4행4열, 실수형데이터로 생성
# df=pd.DataFrame(np.random.randint(5,size=(4,4)),dtype=float)
np.random.seed(3)
df1=pd.DataFrame(np.random.randint(5,size=(4,4))) #기본 정수
# df
df1.iloc[2,3] =np.nan
df1

   0  1  2    3
0  2  0  1  3.0
1  0  0  0  3.0
2  2  3  1  NaN
3  2  0  4  4.0

In [15]:
### 타이타닉 승객 데이터 사용
    # seaborn 패키지 내에 data로 존재
    # 데이터셋 읽어오기 : 패키지명.load_dataset("data명")

###  value_counts() : 카테고리 값 세기
- 시리즈의 값이 정수,문자열 등 카테고리 값인 경우에
- 시리즈.value_counts()메서드를 사용해 각각의 값이 나온 횟수를 셀 수 있음
- 파라미터 normalize=True 를 사용하면 각 값 및 범주형 데이터의 비율을 계산
    - 시리즈.value_counts(normalize=True)

##### 범주형 데이터에 value_counts() 함수 적용
- 범주형 데이터 : 관측 별과가 몇개의 버무 또는 항목의 형태로 나타나는 자료
    - ex. 성별(남,여), 선호도(종다, 보통, 싫다), 혈액형(A,B,O,AB) 등

In [13]:
### 예제2. 랜덤데이터 사용

In [14]:
df1.iloc[2,3] =np.nan
df1=pd.DataFrame(np.random.randint(5,size=(4,4))) #기본 정수

df1.iloc[2,3]=np.nan
df1

   0  1  2    3
0  0  2  1  2.0
1  2  2  4  1.0
2  3  2  0  NaN
3  2  0  3  0.0

In [18]:
df1.value_counts() #NaN은 coun하지 않음

0  1  2  3
0  2  1  2.0    1
2  0  3  0.0    1
   2  4  1.0    1
dtype: int64

###  drop() : 행/열 삭제
- df.drop('행이름',0) : 행삭제 
    - 행삭제 후 df로 결과를 반환
- df.drop('행이름',1) : 열 삭제
    - 행삭제 후 df로 결과를 반환
- 원본에 반영되지 않으므로  원본수정하려면 저장 해야 함

### apply() : 열 또는 행에 동일한 연산 반복 적용
- apply() 함수는 DataFrame의 행이나 열에 복잡한 연산을 vectorizing할 수 있게 해주는 함수로 매우 많이 활용되는 함수임
- 동일한 연산을 모든열에 혹은 모든 행에 반복 적용하고자 할때 사용

- apply(반복적용할 함수, axis=0/1)
    - 0 : 열마다 반복
    - 1 : 행마다 반복 
    - 생략시 기본값 : 0

In [19]:
#예제 df 생성
df3 = pd.DataFrame({
    'a':[1,3,4,3,4],
    'b':[2,3,1,4,5],
    'c':[1,5,2,4,4]
})
df3

   a  b  c
0  1  2  1
1  3  3  5
2  4  1  2
3  3  4  4
4  4  5  4

- 데이터프레임의 기본 집계함수(sum, min, max, mean 등)들은 행/열 단위 벡터화 연산을 수행함
    - apply() 함수를 사용할 필요가 없음
    - 일반적으로 apply() 함수 사용은 복잡한 연산을 해결하기 위한 lambda 함수나 사용자 정의 함수를 각 열 또는 행에 일괄 적용시키기 위해 사용

In [21]:
#label : 카테고리 명
labels=['영유아','미성년자','청년','중년','장년','노년']

##### Categorical 클래스 객체
- 카테고리명 속성 : Categorical.categories
- 코드 속성 : Categorical.codes 
    - 인코딩한 카테고리 값을 정수로 갖는다.

### qcut() : 구간분할 
구간 경계선을 지정하지 않고 데이터 개수가 같도록 지정한 수의 구간으로 분할하기 :

- 형식 : pd.qcut(data,구간수,labels=[d1,d2....])
    
    
    - 예)1000개의 데이터를 4구간으로 나누려고 한다면
        - qcut 명령어를 사용 한 구간마다 250개씩 나누게 된다.
        - 예외)같은 숫자인 경우에는 같은 구간으로 처리한다

In [26]:
## 랜덤정수 20개를 생성하고 생성된 정수를 4개의 구간으로 나누시오.

# 각 구간의 label은 Q1,Q2,Q3,Q4 로 설정하시오.

#랜덤정수 생성 : 범위 0-19, size =20
#seed 설정해서 재 실행해도 랜덤정수가 변하지 않도록 생성

# seed 설정 
np.random.seed(2)

# 랜덤정수 생성
data=np.random.randint(20,size=20)
data

array([ 8, 15, 13,  8, 11, 18, 11,  8,  7,  2, 17, 11, 15,  5,  7,  3,  6,
        4, 10, 11])

In [31]:
qcat=pd.qcut(data,4,labels=['Q1','Q2','Q3','Q4'])
qcat

['Q2', 'Q4', 'Q4', 'Q2', 'Q3', ..., 'Q1', 'Q1', 'Q1', 'Q3', 'Q3']
Length: 20
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [32]:
pd.value_counts(qcat)

Q1    5
Q2    5
Q3    5
Q4    5
dtype: int64

In [33]:
list(qcat)

['Q2',
 'Q4',
 'Q4',
 'Q2',
 'Q3',
 'Q4',
 'Q3',
 'Q2',
 'Q2',
 'Q1',
 'Q4',
 'Q3',
 'Q4',
 'Q1',
 'Q2',
 'Q1',
 'Q1',
 'Q1',
 'Q3',
 'Q3']

### 인덱스 설정 함수
#### 데이터 프레임 인덱스 설정을 위해 set_index(), reset_index()
- set_index() : 기존 행m 인덱스를 제거하고 데이터 열 중
하나를 인덱스로 설정해주는 함수
- reset_index() : 기존 행인덱스를 제거하고 기본인덱스로 변경
- 기본인덱스 : 0부터 1씩 증가하는 정수 인덱스
    - 따로 설정하지 않으면 기존 인덱스는 데이터열로 추가 됨

In [35]:
#예제 데이터프레임 생성
df3 = pd.DataFrame({
    'a':[1,3,4,3,4],
    'b':[2,3,1,4,5],
    'c':[1,5,2,4,4]
})
df3

   a  b  c
0  1  2  1
1  3  3  5
2  4  1  2
3  3  4  4
4  4  5  4

### set index()

In [43]:
df3.set_index('a')

   b  c
a
1  2  1
3  3  5
4  1  2
3  4  4
4  5  4

### reset_index()

In [39]:
df3.reset_index(drop=True)

   a  b  c
0  1  2  1
1  3  3  5
2  4  1  2
3  3  4  4
4  4  5  4