## 데이터프레임 기본인덱싱
1. 열기준 인덱싱
2. 인덱서를 사용하지 않는 행기준 인덱싱

- []기호를 이용해서 인덱싱하는 것은 '열위주' 인덱싱

In [32]:
import pandas as pd
import numpy as np

#df의 값을 위한 dict
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2000002],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율":[0.0283, 0.0163, 0.0982,0.0141]
}

#열방향 인덱스(컬럼명) columns=
columns = ['지역','2015','2010','2005','2000','2010-2015 증가율']

#행방향 인덱스 index =
index=['서울','부산','인천','대구']

# pd.DataFrame(데이터, index=, columns=)
df3 = pd.DataFrame(data, index =index, columns=columns)
df3

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2000002  2456016  2473990         0.0141

## 1. 열기준 인덱싱
- 열 라벨(컬럼명)을 키값으로 생각하고 인덱싱한다.
- 인덱스로 라벨값을 하나 넣으면 시리즈 객체가 반환
- 라벨의 배열이나 리스트를 넣으면 부분적 df 가 반환

In [6]:
print(type(df3['지역']))
df3['지역'] # 시리즈 형태 반환

<class 'pandas.core.series.Series'>

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [7]:
# 열 1개 접근할때는 . 연산자 사용 가능 : df.컬럼명
df3.지역 # 시리즈 형태 반환

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [8]:
# 열 추출할때 데이터프레임으로 반환받고자 하면 컬럼명을 리스트형태로 사용
print(type(df3[['지역']]))
df3[['지역']]

<class 'pandas.core.frame.DataFrame'>

     지역
서울  수도권
부산  경상권
인천  수도권
대구  경상권

In [9]:
# 여러개의 열을 추출 - [] 리스트 사용
df3[['2010','2015']] #  df 반환

       2010     2015
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2000002  2466052

- 컬럼명이 문자열일 경우 수치인덱스를 사용할 수 없다.
- 그래서 열인덱싱은 위치인덱싱 기능을 사용할 수 없다.(keyError)

In [11]:
try : 
    df3[0]
except Exception as e :
    print(type(e))

<class 'KeyError'>

- 다만 위치인덱싱 처럼 보이게는 만들 수 있다

In [13]:
np.arange(12)
np.arange(12).reshape(3,4) # np.adarray.reshape(행,열) - 요소의 배치를 변경

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [15]:
df5 = pd.DataFrame(np.arange(12).reshape(3,4))
df5

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [17]:
# 위치 인덱싱이 아닌 컬럼명이 숫자로 되어 있는 df의 인덱싱
df5[[1,2]]

   1   2
0  1   2
1  5   6
2  9  10

In [18]:
#하지만 슬라이싱 불가
df5[[0:3]]

SyntaxError: invalid syntax (CreatorTemp/ipykernel_35432/725325285.py, line 2)

## 2. 행기준 인덱싱
- 인덱서를 사용하지 않을 경우, 슬라이싱 해야함
- 열기준 인덱싱과 다르게, 컬럼명이 문자열이라도 문자슬리이싱 가능하다.

In [20]:
df3

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2000002  2456016  2473990         0.0141

In [22]:
# 1 행 추출 [:1] - 슬라이싱 사용
df3[:1]

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [25]:
# 1-2번째 행 추출 [1:3] - #[시작위치 : 끝위치+1]
df3[1:3]

     지역     2015     2010     2005     2000  2010-2015 증가율
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982

In [27]:
 # 행 인덱스 서울부터 부산 까지 추출
df3['서울':'부산']

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

In [30]:
#개별요소 접근 : [열][행]
df3['2015']['서울']

9904312

In [31]:
#개별요소의 타입
type(df3['2015']['서울'])

numpy.int64