
- Pandas 라이브러리에서 기본적으로 데이터를 다루는 단위는 DataFrame : spreadsheet와 같은 개념

- 이러한 형태의 데이터는 Structured Data 또는 Panel Data 또는 Tabular Data라고 부름

- pandas를 공부한다는 것은 결국 dataframe의 사용법을 익히고 활용하는 방법을 배운다는 것과 같다

- pandas를 잘 활용하면 대부분의 structured data를 자유자재로 다룰 수 있게 됨

### 데이터 프레임
- 2차원 행렬 데이터에 인덱스를 붙인 것
- 행과 열로 만들어지는 2차원 배열 구조
- R의 데이터 프레임 에서 유래
- 데이프레임의 각 열은 시리즈로 구성되어 있음
- DataFrame()함수를 사용해서 생성

### 데이터프프레임 생성
#### 리스트로 데이터 프레임 만들기

- DataFrame([[list1],[list2]]) 
- 각 list는 한 행으로 구성됨
- 행의 원소 개수가 다르면 None 값으로 저장

In [3]:
import pandas as pd
import numpy as np

In [10]:
#1차원 리스트를 이용해서 df생성
df=pd.DataFrame(['a','b','c'])
print(df)
#2차원 리스트를 이용해서 df생성
df=pd.DataFrame([['a','b','c'],['d','e','f']])
df

   0
0  a
1  b
2  c

   0
d  a
e  b
f  c

#### 리스트로 데이터 프레임 만들기

- DataFrame([[list1],[list2]]) 
- 각 list는 한 행으로 구성됨
- 행의 원소 개수가 다르면 None 값으로 저장

In [17]:
#하위 리스트의 원소의 개수가 서로 다른경우
df=pd.DataFrame([['a','b','c'],['a','b','c'],['d','e']])
df

   0  1     2
0  a  b     c
1  a  b     c
2  d  e  None

In [15]:
df1= pd.DataFrame({'A':[90,80,70],
                   'B':[85,98,75],
                   'C':[88,99,77],                   
                   'D':[87,89,86]},
                 index=[0,1,2])
df

   0  1     2
0  a  b     c
1  a  b     c
2  d  e  None

In [18]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2000002],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율":[0.0283, 0.0163, 0.0982,0.0141]
}

#열방향 인덱스(컬럼명) columns=
columns = ['지역','2015','2010','2005','2000','2010-2015 증가율']

#행방향 인덱스 index =
index=['서울','부산','인천','대구']

### 시리즈로 데이터 프레임 생성
- pd.DataFrame(시리즈) : 시리즈를 열로 정의->1개의 시리즈가 전달
- 여러개의 시리즈를 이용해서 데이터 프레임 생성: 리스트로 묶어서 전달
    - pd.DataFrame([시리즈1,시리즈2,...]) : 리스트 원소 시리즈 1개가 한 행으로 정의
    - 시리즈의인덱스 => 컬럼명

In [23]:
#시리즈로 데이터프레임 생성
a = pd.Series([100, 200, 300], ['a', 'b', 'd'])
b = pd.Series([101, 201, 301], ['a', 'b', 'k'])
c = pd.Series([110, 210, 310], ['a', 'b', 'c'])
pd.DataFrame(a)

     0
a  100
b  200
d  300

- shape 속성 (row, column)
 - describe 함수 - 숫자형 데이터의 통계치 계산
 - info 함수 - 데이터 타입, 각 아이템의 개수 등 출력

In [24]:
pd.reset_option('display.float_format') # 기본 형태 출력(지수표현)

### 해당열이 있으면 내용 갱신, 열이 없으면 추가
- 열추가 : df[열이름(key)]=values
- 열 내용 갱신 : df[열이름(key)]=values

1. 열인덱싱
2. 인덱서를 사용하지않는 행 인덱싱
- []기호를 이용해서 인덱싱할때 주의점 : []기호는 열 위주 인덱싱이 원칙

### 데이터프프레임인덱싱 
1. 열인덱싱
2. 인덱서를 사용하지 않는 행 인덱싱 
[]기호는 열 위주 인덱싱이 원칙 

### 1. 열인덱싱
1.열 라벨(컬럼명)을 키값으로 생각하고 인덱싱한다.
- 인덱스로 라벨값을 하나 넣으면 시리즈 객체가 반환
- 라벨의 배열이나 리스트를 넣으면 부분적 df 가 반환

### 판다스 데이터 프레임에 열이름(컬럼명)이 문자열일 경우에는
- 수치 인덱스를 사용할 수 없음
- 위치 인덱싱 기능을 사용할 수 없다. : keyerror 발생
- 행단위 인덱싱을 하고자 하면 인덱서라는 특수 기능을 사용하지 않는 경우 슬라이싱을 해야 함(인덱서는 바로 뒤에 배움)
- 인덱스 값이 문자(라벨)면 문자슬라이싱도 가능하다

### 2. 행 단위 인덱싱
행단위 인덱싱을 하고자 하면 인덱서라는 특수기능사용하지 않는 경우, 슬라이싱진행
- 개별요소접근[열][행]

#### 데이터 프레임 인덱서 : loc, iloc
- Pandas는 numpy행렬과 같이 쉼표를 사용한 (행 인덱스, 열 인덱스) 형식의 2차원 인덱싱을 지원
    - 특별한 인덱서(indexer) 속성을 제공
    
* loc : 라벨값 기반의 2차원 인덱싱
* iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱

In [1]:
import pandas as pd
import numpy as np

#### 행과 열을 동시에 인덱싱 하는 구조는 기본 자료구조 인덱스와 차이가 있음
- df['열']
- df[:'행'] 슬라이싱이 반드시 필요
- df['열'][:'행']

### 데이터 프레임에서 인덱서 사용
#### loc, iloc 속성을 사용하는 인덱싱
loc 인덱서 : 행우선 인덱서 
- df.loc[행인덱싱값] #행우선 인덱서
- df.loc[행인덱싱값,열인덱싱값]

인덱싱값 
1. 인덱스데이터(index name, column name)
2.인덱스 데이터 슬ㄹ라이스
3.같은 행 인덱스를 갖는 Boolean 시리즈(행인덱싱인 경우) 
    -조건으로 추출가능
4.위 값을 반환하는 함수

#### pandas 패키지는 [행번호][열번호] 인덱싱 불가
    - iloc 속성 사용하면 가능
        - iloc[행번호.열번호] - 가능
        - loc[행제목.열제목] -가능

In [ ]:
loc